  <ion-view  title="Fotos de Marte">

    <ion-content lazy-scroll overflow-scroll="true" padding="true" class="has-header has-footer" >

        <ion-refresher pulling-text="Solte para atualizar" on-refresh="doRefresh()"> </ion-refresher>
      
    <div  ng-repeat="img in fcamimages">
        <div class="list card martecard animated bounceInLeft">

            <div class="marteitem item item-body">

                <div  class="marteitemdiv">
                   <img class="animate-ripple motion" id="fotomarte" src="{{img[0].url}}" ng-model="urlfoto" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></img>

                </div>
                <div class="fotometa">
                    <p ng-model="datafoto">
                        <strong>Data da foto: {{img[1].time.creation_timestamp_utc}}</strong>
                    </p>
                    <p>
                        <strong>Horário: {{img[1].time.localtime}}</strong>
                    </p>
                     <p>
                        <strong>Sol de Marte: {{solrand}}</strong>
                    </p>
                </div>
                <div align="center" class="sharebuttons">

                  <br>

                    <button class="button button-positive item-icon-left" ng-click="FacebookShare('{{img[0].url}}', '{{img[1].time.creation_timestamp_utc}}','{{img[1].time.localtime}}', '{{solrand}}' )">
                         <i class="icon ion-social-facebook"></i>

                  </button>

                  <button class="button button-positive item-icon-left" ng-click="TwitterShare('{{img[0].url}}', '{{img[1].time.creation_timestamp_utc}}','{{img[1].time.localtime}}', '{{solrand}}' )">
                       <i class="icon ion-social-twitter"></i>

                </button>

                <button class="button button-balanced item-icon-left" ng-click="WhatsAppShare('{{img[0].url}}', '{{img[1].time.creation_timestamp_utc}}','{{img[1].time.localtime}}', '{{solrand}}' )">
                     <i class="icon ion-social-whatsapp"></i>

              </button>

              <button class="button button-positive item-icon-left" ng-click="InstaShare('{{img[0].url}}', '{{img[1].time.creation_timestamp_utc}}','{{img[1].time.localtime}}', '{{solrand}}' )">
                   <i class="icon ion-social-instagram"></i>

            </button>
            </div>


        </div>
    </ion-content>
</ion-view>
