  <ion-view title="Fotos de Marte">

    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <ion-refresher pulling-text="Solte para atualizar" on-refresh="doRefresh()"> </ion-refresher>
    <div ng-repeat="img in fcamimages">
        <div class="list card martecard">

            <div class="marteitem item item-body">

                <div class="marteitemdiv">

                   <img ng-model="urlfoto" ng-src="{{img[0].url}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></img>

                </div>
                <div class="fotometa">
                    <p ng-model="datafoto">
                        <strong>Data da foto: {{img[1].time.creation_timestamp_utc}}</strong>
                    </p>
                    <p>
                        <strong>Horário: {{img[1].time.localtime}}</strong>
                    </p>
                     <p>
                        <strong>Sol de Marte: {{solrand}}</strong>
                    </p>
                </div>

                  <button class="button button-block button-balanced item-icon-left" ng-click="Share('{{img[0].url}}', '{{img[1].time.creation_timestamp_utc}}','{{img[1].time.localtime}}', '{{solrand}}' )">
                       <i class="icon ion-android-share-alt"></i>
                        Compartilhar
                </button>


        </div>
    </ion-content>
</ion-view>
