<ion-view title="Rovers">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div  class="list card">
            <div class="item item-divider">
                <div class="bar bar-header bar-energized">
                    <strong><i class="ion-android-locate">Spirit</i></strong>
                </div>            
            </div>

            <div  class="item item-body">

            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">

            <img  ng-style="{ 'width' : width }" ng-src="img/rovers/spirit.jpg" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></img>

            </div>
                <p align="justify">Uma das duas sondas lançadas em 2003 para explorar Marte e procurar sinais de vida passada, Spitit de longe superou sua planejada missão de 90 dias. Entre suas inumeráveis ​​descobertas, Spitit encontrou evidências de que Marte já foi muito mais úmido do que é hoje e ajudou os cientistas a entender melhor o vento marciano. Em maio de 2009, o rover ficou incorporado no solo macio em um local chamado "Troy", com apenas cinco rodas de trabalho para ajudar no esforço de resgate. Depois de meses de testes e manobras cuidadosamente planejadas, NASA terminou esforços para libertar o rover e, eventualmente, terminou a missão em 25 de maio de 2011.</p>
            <div>

        </div>

        </div>


        <div  class="list card">
            <div class="item item-divider">
                <div class="bar bar-header bar-energized">
                 <strong><i class="ion-android-locate">Opportunity</i></strong>
                </div>            
            </div>
            <div  class="item item-body">

            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">

            <img  ng-style="{ 'width' : width }" ng-src="img/rovers/opportunity.jpg" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></img>



            </div>
            <p align="justify">Opportunity foi o segundo dos dois rovers lançado em 2003 para pousar em Marte e começar a atravessar o planeta vermelho em busca de sinais de vida passada. O rover ainda está explorando ativamente o terreno marciano, tendo agora superado sua planejada missão de 90 dias. Desde a aterragem em Marte em 2004, Opportunity fez uma série de descobertas sobre o Planeta Vermelho, incluindo uma prova dramática de que há muito tempo pelo menos uma área de Marte ficou molhada por um longo período e que condições poderiam ter sido adequadas para a manutenção da vida microbiana.</p>
            <div>

            </div>

            </div>
    </ion-content>
</ion-view>