<ion-view view-title="Compartilhar">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            <b> Compartilhe esse app</b>
        </div>
     <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="whatsappShare()">
            <i class="icon ion-social-whatsapp"></i>
              WhatsApp
      </button>
      </li>

    <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="twitterShare()">
            <i class="icon ion-social-twitter"></i>
              twitter
      </button>
      </li>


      <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare()">
             <i class="icon ion-android-share-alt"></i>
              Outros
      </button>
      </li>
    </ul>
        </div>
    </div>
  </ion-content>
</ion-view>