<ion-view title="Sobre">

    <ion-content overflow-scroll="true" padding="true" class="has-header">

            <div  class="list card">
            <div class="item item-divider">
            <div class="bar bar-header bar-assertive">

              <div class="h1 title">Sobre o projeto</div>
</div>
            </div>
            <div  class="item item-body">

                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">


                </div>
                <p align="justify">

                    Esse projeto é um exemplo de implementação do ionic framework, obviamente com Angular JS. A ideia é fazer uma derivação do <a href="http://marspictures.herokuapp.com/" target="_blank">NASA MARS PICTURES</a>
                    <br />

                    Mais informações sobre o projeto <a href="https://github.com/joelgarciajr84/ionic-app-fotos-de-marte">Aqui no Github</a> contribuições são muito bem vindas.
                </p>
                <a href="https://www.facebook.com/fotosdemarte/"> Curta no Facebook</a>
                <div>

                </div>

            </div>

            </div>
    </ion-content>
</ion-view>
